# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
media/books/covers/*
media/books/entries/images/*
media/books/entries/audio/*
!media/books/covers/.gitkeep
!media/books/entries/images/.gitkeep
!media/books/entries/audio/.gitkeep
**/migrations/*.py
!**/migrations/__init__.py

# Env
.env

# IDE / OS
.idea/
.vscode/*
!.vscode/settings.json
.DS_Store
Thumbs.db
venv/
